.customer{
    width: 88%;
    margin-left: 12%;
    z-index: -1;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 1000px){
    .customer{
      width: 100%;
      margin-left: 0;
    }
  }