.main-nav{
    display: flex;
    background: linear-gradient(to bottom,#e0e0e2, #fafafa, white);
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-nav-logo{
    flex-grow: 2;
    margin-left: 20px;
    
}

.main-nav-logo-img{
    width: 100px;
    height: 100%;
}

.main-nav-ul{
    display : flex;
    justify-content: space-around;
    flex-grow: 3;
}

.main-nav-li{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    width: 80%;
    padding: 2px 0px;
}

.main-nav-li:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}

.main-nav-li:active{
    font-weight: 800;
    color: #202c62;
}

@media screen and (max-width:800px){
    .main-nav{
        width: 100%
    }
    .main-nav-logo {
        display: none;
    }
    .main-nav-ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: -40px;
    }
    .main-nav-li{
        width: 60%;
    }
}